.item {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #aaa;
    display: flex;
}


table {
    border-collapse: collapse;
}

table td, th {
    border-left: 1px solid #aaa;
    width: 30em;
}

table td:first-child, th:first-child {
    border-left: none;
}