<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/css.css') }}">
    <script src="{{ url_for('static', filename='js/utils.js') }}"></script>
    <!-- Extra page specific js scripts can go here -->
    {% block js_scripts %}
    {% endblock %}
  </head>
<body>
  <div class="banner">
    {% block buttons %}
      <button style="margin-left: 1750px" class="invbutton" onclick="location.href='/orders'" id="button">Orders</button>
      <button style="margin-left: 1625px" class="invbutton" onclick="location.href='/add_inventory'" id="button">Receiving</button>
    {% endblock %}
    {% block title %}
    <h1>Receiving Parts</h1>
    {% endblock %}
  </div>

  {% block content %}
  {% endblock %}

</body>
</html>



