<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/css.css') }}">
    <script src="{{ url_for('static', filename='js/utils.js') }}"></script>
    <!-- Extra page specific js scripts can go here -->
    {% block js_scripts %}
    {% endblock %}
  </head>
<body>

  <div class="banner">
    {% block buttons %}
    <button style="font-size: 14px;" onclick="location.href='/store_front'">Continue Shopping</button>
    <button onclick="location.href='/clear_cart'">Checkout</button>
    {% endblock %}
    {% block title %}
    <h1>Car Parts Store</h1>
    {% endblock %}
  </div>

  {% block content %}
  {% endblock %}

</body>
</html>



