{% extends 'Base.html' %}


{% block js_scripts %}
<script src="{{ url_for('static', filename='js/store_front.js') }}"></script>
{% endblock %}


{% block buttons %}
    <button class="normbutton" style="margin-left: 1750px; font-size: 14px;" onclick="location.href='/store_front'">Continue Shopping</button>
    <button class="normbutton" style="margin-left: 1625px" onclick="location.href='/clear_cart'">Checkout</button>
{% endblock %}


{% block content %}
  <div id="container">
    {% for item in items %}
      <div class="box">
        <img src="{{ item.pictureURL }}" alt="Part Image">
        <div>
          <p>{{ item.description }}</p>
          <p>Price: ${{ item.price }}</p>
          <p>Weight: {{ item.weight }} lbs</p>
          <p>Quantity: {{ item.quantity }}</p>
        </div>
        <!-- Lines for the quantity input and remove from cart button -->
        <div class="cart-elements">
          <button class="remove-from-cart" onclick="location.href='/remove_from_cart/{{ item.number }}'">Remove from Cart</button>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}