{% extends 'CartBase.html' %}

{% block js_scripts %}
<script src="{{ url_for('static', filename='js/store_front.js') }}"></script>
{% endblock %}

{% block content %}
  <div id="container">
    {% for item in items %}
      <div class="box">
        <img src="{{ item.pictureURL }}" alt="Part Image">
        <div>
          <p>{{ item.description }}</p>
          <p>Price: ${{ item.price }}</p>
          <p>Weight: {{ item.weight }} lbs</p>
          <p>Quantity: {{ item.quantity }}</p>
        </div>
        <!-- Lines for the quantity input and remove from cart button -->
        <div class="cart-elements">
          <button class="remove-from-cart" onclick="location.href='/remove_from_cart/{{ item.number }}'">Remove from Cart</button>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}