{% for part in data %}
  <div class="box">
    <img src="{{ part.pictureURL }}" alt="Part Image">
    <div>
      <p>{{ part.description }}</p>
      <p>Price: ${{ part.price }}</p>
      <p>Weight: {{ part.weight }} lbs</p>
      <p>available: {{ part.stock }}</p>
    </div>
    <!-- Lines for the quantity input and add to cart button -->
    <div class="cart-elements">
      <label style="margin-right:5px"for="quantity">Quantity:</label>
      <input style="margin-right:5px" type="number" oninput="handleInput()" class="Quantity" name="Quantity" min="1" placeholder="Enter #">
      <button class="updateButton" disabled>Update Quantity</button>
    </div>
  </div>
{% endfor %}
