<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body style="margin-left: 15em; margin-top: 5em">
    <h2>Shipping to:</h2>
    <div>
        <div>{{ order.customer.name }}</div>
        <div>{{ order.customer.address1 }}</div>
        <div>{{ order.customer.address2 }}</div>
    </div>
</body>
</html>