{% extends 'Base.html' %}


{% block js_scripts %}
<script src="{{ url_for('static', filename='js/store_front.js') }}"></script>
{% endblock %}


{% block buttons %}
    <button class="normbutton" style="margin-left: 1750px;" id="cartButton" onclick="location.href='/cart'">Cart (0)</button>
{% endblock %}
{% block title %}
<h1>Car Parts Store</h1>
{% endblock %}

{% block content %}
<p></p>
<label for="search" style="margin-left:12px">Search by Description:</label>
<input style="margin-left:6px" class="search-bar" type="search" id="search" name="search" oninput="handleSearch(event)" placeholder="Enter Description">

  <div id="container">
    {% for part in data %}
      <div class="box">
        <img src="{{ part['l'].pictureURL }}" alt="Part Image">
        <div>
          <p>{{ part['l'].description }}</p>
          <p>Price: ${{ part['l'].price }}</p>
          <p>Weight: {{ part['l'].weight }} lbs</p>
          <p id="available{{ part['l'].number }}">Available: {{ part['s'] }}</p>
        </div>
        <!-- Lines for the quantity input and add to cart button -->
          <div class="cart-elements">
            <label for="num{{ part['l'].number }}">Quantity:</label>
            <input type="number" id="num{{ part['l'].number }}" class="Quantity" name="Quantity" min="1" max="{{ part['s'] }}" placeholder="Enter #" {{'disabled' if part['s'] == 0}} oninput="checkQuantity('num{{ part["l"].number }}', 'button{{ part["l"].number }}')" onchange="onClick('button{{ part["l"].number }}');">
            <!--<button class="add-to-cart" id="button{{ part['l'].number }}" {{'disabled' if part['s'] == 0}} onclick="addToCart('num{{ part["l"].number }}', 'button{{ part["l"].number }}', 'available{{ part["l"].number }}')">Add to Cart</button>-->
            <button class="add-to-cart" id="button{{ part['l'].number }}" {{'disabled' if part['s'] == 0}} onclick="addToCart('add_to_cart', 'num{{ part["l"].number }}', 'button{{ part["l"].number }}', 'available{{ part["l"].number }}', '{{ part["l"].number }}', document.getElementById('num{{ part["l"].number }}').value)">Add to Cart</button>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}